section.swiper-slide.home-section-6
  .div-home-6
    div(class='xl:rem:px-[160px] px-[16px] lg:block hidden')
      .footer-section-list
        h1 Mạng lưới vững mạnh, phát triển <br/> đồng hành. Liên kết để bứt phá
        .image-logo
          img(class='lozad' src='./img/1.png' alt='Logo-1')
          img(class='lozad' src='./img/1.png' alt='Logo-1')
          img(class='lozad' src='./img/1.png' alt='Logo-1')
    .footer-middle
      div(class='xl:rem:px-[160px] px-[16px] flex flex-col gap-10 divide-y-2 divide-solid divide-white')
        div(class='grid md:grid-cols-12 grid-cols-1 gap-10')
          .flex-col.items-start.gap-10(class='flex col-span-full md:col-span-6 lg:col-span-3')
            h1(class='rem:text-[20px] leading-7') CÔNG TY CỔ PHẦN KẾT CẤU <br/> KIM LOẠI VÀ LẮP MÁY DẦU KHÍ
            .flex.flex-col.gap-4(class='rem:text-[19px] leading-6')
              .flex.gap-2.justify-start.content-stretch
                <i class="fa-regular mt-2 fa-location-dot"></i>
                p 02 Nguyễn Hữu Cảnh, P. Thắng Nhất, <br/> TP. Vũng Tàu, Việt Nam
              .flex.gap-2.justify-start.content-stretch
                <i class="fa-regular mt-2 fa-phone"></i>
                p (84-254) 3 848 229
              .flex.gap-2.justify-start.content-stretch
                <i class="fa-regular mt-2 fa-phone-office"></i>
                p (84-252) 3 848 404
              .flex.gap-2.justify-start.content-stretch
                <i class="fa-regular mt-2 fa-envelope"></i>
                p contact@company.com 
            .flex.content-strech(class='gap-[10px]')
              a(href="" class='w-10 h-10 bg-white rounded-full flex justify-center items-center')
                <i class="fa-brands fa-facebook-f text-[#41924F]"></i>
              a(href="" class='w-10 h-10 bg-white rounded-full flex justify-center items-center')
                <i class="fa-brands fa-youtube text-[#41924F]"></i>
              a(href="" class='w-10 h-10 bg-white rounded-full flex justify-center items-center')
                <i class="fa-brands fa-linkedin-in text-[#41924F]"></i>
              a(href="" class='w-10 h-10 bg-white rounded-full flex justify-center items-center')
                <i class="fa-regular fa-envelope text-[#41924F]"></i>
          .flex-col.items-start.gap-6(class='md:flex hidden col-span-full md:col-span-6 lg:col-span-2')
            h1(class='rem:text-[20px] leading-7') Liên kết nhanh
            ul.flex.flex-col.gap-3(class='rem:text-[18px] leading-6')
              li
                a(href="") Giới thiệu
              li
                a(href="") Lĩnh vực hoạt động
              li
                a(href="") Dự án tiêu biểu
              li
                a(href="") Quan hệ cổ đông
              li
                a(href="") ESG
              li
                a(href="") Tin tức - Thư viện
              li
                a(href="") Liên hệ
          .flex-col.items-start.gap-6(class='md:flex hidden lg:px-10 px-0 col-span-full md:col-span-6 lg:col-span-4')
            h1(class=' rem:text-[20px] leading-7') Lĩnh vực hoạt động
            ul.flex.flex-col.gap-3(class='rem:text-[18px] leading-6')
              li
                a(href="") Khảo sát thiết kế
              li
                a(href="") Xây dựng công trình
              li
                a(href="") Sản xuất thiết bị cơ khí
              li
                a(href="") Chế tạo và cung cấp ống thép, phụ kiện
              li
                a(href="") Lắp đặt hệ thống thiết bị công nghiệp
              li
                a(href="") Đầu tư xây dựng và khai thác
              li
                a(href="") Đóng tàu, đóng giàn khoan
              li
                a(href="") Kinh doanh và đào tạo 
          .flex-col.items-start.gap-6(class='md:flex hidden col-span-full md:col-span-6 lg:col-span-3')
            h1(class='rem:text-[20px] leading-7') Đăng ký nhận thông tin
            p(class='rem:text-[18px] leading-6') Nhập Email của bạn để nhận thông tin sớm nhất của chúng tôi
            +subscribeForm()
            .img-footer
              img(class='lozad' src="/img/img-footer-1.png", alt="")
              img(class='lozad' src="/img/img-footer-2.png", alt="")
              img(class='lozad' src="/img/img-footer-3.png", alt="")
        div(class='flex md:flex-row flex-col justify-between py-5')
          p.title-p © 2025 PVC-MS. All Rights Reserved. Thiết kế web bởi Cánh Cam. 
          .flex.gap-6 
            p.title-p Điều khoản sử dụng
            p.title-p Chính sách bảo mật