section.swiper-slide.bg-dark
  .h-full
    .swiper.pagination-swiper
      .swiper-wrapper
        +SlidePagination()
      .swiper-pagination-home-1(class='grid-cols-4 gap-8 xl:px-0 px-4 hidden lg:grid')
        