.header-search-form
	.close.flex.items-center.justify-center.absolute.top-0.right-0.bg-white.text-3xl.cursor-pointer(class="w-12.5 h-12.5")
		i.fa-light.fa-xmark
	.container
		.wrap-form-search-product
			.productsearchbox
				input(type="text" placeholder="Bộ ghế sofa 2022")
				button
